#files input[type="radio"] {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    position: absolute;
    display: block;
}

#files .checked {
    background: #aa1d18;
}

.slider__content__wrapper {
    background: url(../img/gray.png);
}

.upload input[type="file"] {
    width: 32px;
    height: 32px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}